div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.one {
  background: red;
  transform: translateX(60%);
}
.two {
  background: blue;
  transform: translateY(-50px);
}
.three {
  background: green;
  transform: translate(100px, 300px);
}
