#first {
    color: rgb(255, 0, 0);
    background-color:rgb(0, 0, 0);
}

#second {
    color: rgb(128, 0, 128);
    background-color: rgb(255, 255, 255);
}
#thirth{
    color: rgb(200, 100, 235);
    background: rgb(100, 100, 100);
}
body{
    background:rgb(100, 34, 210);
}