/* background-size
 */
div {
    height: 500px;
    color: white;
    border: 2px solid red;
}

/*ffgdfgdfg*/
.big-img {
    background: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.small-img {
    background: url("2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.folder-img {
    background: url("3i.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}